.OSHeader {
    background-color: #04111d;
    text-align: left;
    padding: 15px;
    color: #c0c3c6;
    font-family: 'Poppins', sans-serif;
    display: flex;
}

.OSHeader-input {
    width: 80%;
    padding: 12px;
    padding-left: 40px;
    background-color: #353840;
    color: grey;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    vertical-align: middle;
}

.OSHeader-input:hover {
    background-color: rgb(80, 80, 80);
    
}

.OSHeader-b {
    font-size: 20px;
    
    color: rgb(255, 255, 255);
    margin: 10px;
    vertical-align: middle;
}

.OSHeader-img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.OSHeader-ul {
    list-style-type: none;
}

.OSHeader-ul li {
    display: inline;
    margin: 15px;
    font-weight: bold;
}

.OSHeader-ul li:hover {
    color: white;
}

.OSHeader-div {
    display: inline-block;
    
}

.OSHeader-search {
    position: absolute;
    margin: 10px;
}

.OSHeader-icon {
    vertical-align: middle;
    font-size: 10px;
    margin: 10px;
}

.Logo {
    flex: initial;
}

.SearchBar {
    flex: auto;
}

.Hamburger {
    display: none;
    
}

.RightMenu {
    flex: initial;
    

}

@media only screen and (max-width: 1200px) {
    .Menu1 {
        display: none;
    }
    .Hamburger {
        display: inline-block;
    }
}

@media only screen and (max-width: 1000px) {
    .Menu2 {
        display: none;
    }

}

@media only screen and (max-width: 600px) {
    .SearchBar {
        display: none;
    }
}


