.OSHeader {
    background-color: black;
    text-align: left;
    padding: 15px;
    color: rgb(168, 168, 168);
}

.OSHeader-input {
    width: 400px;
    padding: 10px;
    background-color: rgb(65, 65, 65);
    color: grey;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

.OSHeader-input:hover {
    background-color: rgb(80, 80, 80);
}

.OSHeader-b {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 10px;
}

.OSHeader-img {
    width: 40px;
    height: 40px;
}

.OSHeader-ul {
    list-style-type: none;
}

.OSHeader-ul li {
    display: inline;
    margin: 15px;
    font-weight: bold;
}

.OSHeader-ul li:hover {
    color: white;
}

.OSHeader-div {
    display: inline-block;
}
